h2 {
    margin-left: 40px;
}

h3 {
    margin-left: 60px;
    color: rgb(100, 100, 100);
}

.fa-folder-open:hover {
    cursor: pointer;
}

.element.opacity {
    opacity: 0;
    /* background-color: red; */
}

.element.displayNone {
    display: none;
}

.element {
    opacity: 100;
    transition: opacity .6s ease-in;
}